@import url( "/files/css/fitnesse_base.css" );

div.sidebar {
  background: white;
  margin: 0px;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 1000px;
  border-right: 1px dotted #C6CCB7;
}

.actions a:link, .actions a:visited {
  display: block;
  margin: 0px;
  line-height: 2.2em;
  text-indent: .5em;
  color: white;
  font-family: sans-serif, verdana, tahoma, arial, sans-serif;
  font-size: 14px;
  background-color: purple;
  text-decoration: none;
  border: solid 1px #8D8360;
}

.actions a:hover {
  color: #3D4529;
  background-color: #DEDDBD;
}

div.art_niche {
  margin: 0px;
  padding: 0px 0px 5px 0px;
  position: relative;
  top: 0px;
  left: 0px;
  height: 90px;
  border-bottom: solid 1px #984D00;
  background-image: url("/files/images/xebiumlogo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.pageHelp {
  color: black;
  font-size: 1.0em;
  font-style: normal;
  margin-left: 1.5em;
}

.page_title {
  font-size: 2.5em;
  color: purple;
}

h2 {
  font-size: 1.4em;
  color: purple;
}
