*.zip
.classpath
.project
.settings/
FitNesseRoot/FitNesse/
FitNesseRoot/ErrorLogs/
FitNesseRoot/RecentChanges/
FitNesseRoot/files/
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
target/
*.log
.idea
*.iml
saucelabs.properties
atlassian-ide-plugin.xml
