body {
    margin: 0pt;
    padding: 60px 0 0 0;
    background-color: white;
    font-family: Lucida Grande,Lucida Sans Unicode,sans-serif;
    font-size: 14px;
    color: black;
    }
p { margin-top: 5px; line-height: 150%; }
a { color: rgb(46, 115, 218); }
a:visited { color: rgb(93, 108, 213); }
a:hover { color: rgb(51, 129, 255); }
pre {
  /* background-color:rgb(252, 252, 252); */
  /* border-top: 1px solid rgb(197, 197, 197); */
  /* border-bottom: 1px solid rgb(197, 197, 197); */
  padding: 3px;
  font-weight: bold;
  overflow: scroll;
}

h1 { font-size: 50px; font-family: Myriad Pro,Helvetica Neue,Helvetica,sans-serif; font-weight: normal; margin: 0pt; color: black; }
h2 { font-size: 20px; font-weight: normal; margin: 0pt 0pt 30px; color: rgb(102, 102, 102); margin-right: 8%; }
.clear { clear: both }

p.important {
  font-style: italic;
  font-size: 80%;
  }
#fork-me img { z-index: 999; position: absolute; top: 0; right: 0; border: 0; }

ul.sellingpoints {
  padding-left: 0;
  list-style: disc url(list-item.png) inside;
}

#top-block, .nav {
  background: white url('gradient-bg.png') repeat-x scroll right bottom;
  border-bottom: 1px solid #b4b4b4 }

#top-right-block {
    position: absolute;
    top: 60px;
    right: 0;
    width: 45%;
    overflow: hidden; }
#top-right-block:hover { width: 600px; margin-right: 40px; z-index: 99; }
#top-left-block {
    border: none;
}
#top-left-block p {
    line-height: 150%;
    color: rgb(51, 51, 51);
    margin-top: 15px;
    margin-bottom: 5px; }
#top-left-block p.note {
    font-size: 12px;
    margin-top: 5px;
    color: rgb(102, 102, 102); }

.download-button {
    position: relative;
    overflow: hidden;
    padding: 1px 0pt 5px; 
    margin-top: 40px; }
.download-button a {
    background:-moz-linear-gradient(center bottom , #653A71 0%, #D5BFDB 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#653A71), to(#D5BFDB));
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 10px 20px 12px;
    text-align: center;
    min-width: 110px;
    color: white;
    text-shadow: 0px -1px 1px rgb(102, 102, 102);
    text-decoration: none;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 0px 1px 3px rgb(192, 192, 192);
    -webkit-box-shadow: silver 0px 1px 3px;
    border:1px solid #653A71; }

.nav ul {
    padding: 0;
    text-align: center;
}
.nav li:first-child {
    border-left: 1px solid #b4b4b4;
}
.nav li {
    list-style: none;
    display: inline;
    padding: 1em 3em;
    border-right: 1px solid #b4b4b4;
}
.nav li+li {
    list-style: none;
    border-: 1px solid #b4b4b4;
}

.nav a, .nav a:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

#bottom-block { background-color: rgb(252, 252, 252); padding: 30px 10px 30px 40px; }
.features {
  clear: both;
  margin-top: 40px;
  overflow: hidden;
  border-bottom: 1px solid #b4b4b4 }
.feature-header {
    margin-left: 5%;
    width: 94%;
    margin-right: 5%;
    margin-bottom: 40px; }
.feature-block {
  width: 45%;
  float: left;
  margin-left: 5%;
  position: relative;
  margin-bottom: 40px; }
.feature-block img { width: 30%; max-width: 180px; -moz-border-radius: 8px 8px 8px 8px; -moz-box-shadow: 0px 1px 2px rgb(153, 153, 153); margin-left: 1px; margin-right: 20px; float: left; }
.feature-block h4, .feature-block p { font-size: 14px; padding-right: 8%; margin-right: 10px; color: black; }
.feature-block h4 { font-weight: bold; margin-top: 4px; margin-bottom: 0pt; }

.disclaimer { font-size: 9px; color: rgb(187, 187, 187); max-width: 600px; margin: 0 auto; }
.disclaimer p { text-transform: uppercase; }
#footer {
  width: 100%;
  height: 3em;
  margin: 0 auto;
  padding: 30px 0;
  position:relative;
  background-color: black;
}
#footer a {
  display: block;
  position:relative;
  margin: 0 auto;
  text-align: center;
}

.xebium {
    color: purple;
}